@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300&display=swap');

:root {
  font-family: 'Quicksand', sans-serif;

  --white: white;
  --smoke: #fafafa;
  --dark: rgb(37, 37, 37);
  --gray: rgb(116, 116, 116);

  --primary-color:#2948a1;
  --primary-color-hover: #203a88;

  --success-color: #53a548;
  --success-color-hover: #45903b;
  --success-color-light: rgb(220, 252, 231);

  --error-color: #ff5a5f;
  --error-color-hover: #b42929;
  --error-color-light: rgb(254, 226, 226);

  --card-bg-color: white;
  --card-text-color: black;

  --btn-default: #f8f8f8;
  --btn-default-hover: #b7bcc2;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--white);
}




h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Source Serif Pro', serif;
}




.bg-blue {
  background-color: var(--primary-color);
  color: white;
}

.bg-red {
  background-color: var(--error-color);
  color: white;
}

.bg-smoke {
  background-color: var(--smoke);
}

.bg-dark {
  background-color: var(--dark);
}


/* Since the new tip is absolutely-positioned, it doesn't force the rectangle up on its own */
.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


.date-picker{
  display: block; 
  margin: 0; 
  background-clip: padding-box; 
  background-color: var(--btn-default); 
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
  width: 100%; 
  border-radius: 0.25rem; 
  border-width: 1px; 
  border-color: var(--btn-default-hover); 
  border-style: solid; 
}


.card {
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  font-size: 0.875rem;
  line-height: 1.25rem;
  background-color: var(--card-bg-color);
  color: var(--card-text-color);
  border-width: 2px;
  border-style: solid; 
}


.card-btn {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  
  text-align: left;
  -webkit-transition: all 200ms;
  transition: all 200ms;

  border-radius: 0.5rem;
  /* 8px */
  background-color: var(--btn-default);
  width: 100%;
}

.card-btn:hover {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: var(--btn-default-hover);
}



.card-btn-blue {
  color: white;
  background-color: var(--primary-color);
}

.card-btn-blue:hover {
  background-color: var(--primary-color-hover);
}

.card-btn-red {
  color: white;
  background-color: var(--error-color);
}

.card-btn-red-outline {
  color: var(--error-color);
  border: 2px solid var(--error-color);
  transition: all 200ms;
}

.card-btn-red-outline:hover {
  color: white;
  background-color: var(--error-color);
}

.card-btn-red:hover {
  background-color: var(--error-color-hover);
}

.card-btn-green {
  color: white;
  background-color: var(--success-color);
}

.card-btn-green:hover {
  background-color: var(--success-color-hover);
}




.navbar-btn {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;
  transition: all 400ms;
  font-size: 0.875rem;

  /* 8px */
  
  background-color: var(--btn-default);
  width: 100%;

}

.navbar-btn:hover {
  background-color: var(--btn-default-hover);
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-btn-blue {
  color: white;
  background-color: var(--primary-color);
}

.navbar-btn-blue:hover {
  background-color: var(--primary-color-hover);
}

.map-style{
  transition: all 200ms;
  border-radius: 0.25rem; 
  border-width: 0.25rem; 
  border-style: solid; 
}

.map-style:hover{
  border-color: var(--primary-color);
}

.map-style-selected{
  border-color: var(--primary-color);
}


.scale-in-center {
	-webkit-animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-6 19:14:38
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-in-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}



.alert {
  padding-top: 1rem;
  /* 16px */
  padding-bottom: 1rem;
  /* 16px */
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;
  border-radius: 0.5rem;
  /* 8px */
}

.alert-red {
  color: var(--error-color);
  background-color: var(--error-color-light);
}

.alert-green {

  color: var(--success-color);
  background-color: var(--success-color-light);

}

.map-loading{
  background-color: var(--gray);
  color: white;
  opacity: 0.9;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}

.map-error{
  background-color: var(--error-color);
  color: white;
  opacity: 0.9;
  display: grid;
  place-items: center;
  height: 100%;
  width: 100%;
}